<div class="d-sm-flex mt-3">
<div class="ms-2">
  <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#noteFormModal">
    <i class="fas fa-file-import fa-2x"></i>
  </button>
</div>
<%= render 'shared/search_form' %>
</div>

<!-- Modal -->
<div class="modal fade" id="noteFormModal" tabindex="-1" aria-labelledby="noteFormModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable w-90 mx-auto">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="noteFormModalLabel">Create Site Note</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div id="flash_messages">
          <% flash.each do |message_type, message| %>
          <% end %>
        </div>
        <div class="bg-site py-3 px-4 mb-2">
          <%= form_with(model: @site, local: false) do |f| %>
            <%= f.text_field :url, class: 'form-control mb-3', placeholder: "例：https://hogehoge" %>
            <div class="tag-form mb-2">
              <%= f.label :tags %>
              <%= f.text_field :tag, class: "form-control", placeholder:",で区切ってください" %>
            </div>           
            <%= f.text_area :note, :size=>"30x7", class: 'form-control', placeholder: "メモを記入する。例：RailsのCRUD処理の基本を学べるサイト" %>
        </div>
      </div>

      <div class="modal-footer">
            <%= f.submit :"ストック", class: "btn btn-outline-secondary d-block ms-auto" %>
          <% end %>
      </div>
    </div>
  </div>
</div>
  
<div class= "pt-4">
  <h1 class="ms-3 text-dark">ー Your Site Note ー</h1>
  <div class="d-flex py-1 ms-4 mb-1">
  <% if @tags.present? %>
    <% @tags.each do |tag| %>
    <div class="border border-secondary rounded px-2 me-2">
      <%= link_to tag.tag_name, root_url(tag: tag), class: "tag-link" %>
    </div>
    <% end %>
  <% end %>
</div>
  <div class="d-flex flex-wrap mx-4 mb-5" id="scrool">
      <%= render @sites %>
  </div>
  <div class="d-flex justify-content-center mb-4">
    <%== pagy_bootstrap_nav(@pagy) %>
  </div>
</div>