<div class="container-fluid">

  <div class="row pb-3 mt-3 border-bottom">
    <div class="col-md-4">
      <img src="<%= @site.image %>" alt="画像がありません" class="site-show-image rounded w-90">
    </div>
    <div class="col-md-8">
      <a href="<%= @site.url %>" target="_blank" rel="noopener noreferrer">
        <h5 class="card-title"><%= @site.title %></h5>
      </a>
      <p><%= @site.description%></p>
    </div>
  </div>

  <div class="row mt-2 mb-4">
    <div class="note border rounded py-2">
      <div class="d-flex note-link pe-3">
        <p class="text-small fw-bold" style="font-family: sans-serif;">-Note-</p>
        <p>
          <%= link_to edit_site_url, "data-turbolinks": false do %>
            <i class="far fa-edit fa-lg mt-2"></i>
          <% end %>
        </p>
      </div>
      <% if @site.note.present? %>
        <%= markdown(@site.note) %>
      <% else %>
        <h3>No Contents</h3>
      <% end %>
    </div>
  </div>

  <%= link_to "削除", site_path(@site), method: :delete, class: "btn btn-outline-danger", data: {confirm: "本当に削除しますか？"} %>
</div>
