<div class="container-fluid">

  <div class="row pb-3 mt-3 border-bottom">
    <div class="col-md-4">
      <img src="<%= @site.image %>" class="rounded w-90">
    </div>
    <div class="col-md-8">
      <a href="<%= @site.url %>" target="_blank" rel="noopener noreferrer">
        <h5 class="card-title"><%= @site.title %></h5>
      </a>
      <p><%= @site.description%></p>
    </div>
  </div>

  <div class="row mt-2 mb-4">
    <%= link_to "編集する", edit_site_path, "data-turbolinks": false, class: "btn btn-outline-secondary w-75 mx-auto mt-2 mb-4"%>
    <% if @site.note.present? %>
      <%= markdown(@site.note).html_safe %>
    <% else %>
      <h3>No Contents</h3>
    <% end %>
  </div>

</div>

