<div class="container-fluid mb-3">

  <div class="row pb-3 mt-3 border-bottom">
    <div class="col-md-4">
      <img src="<%= @site.image %>" alt="画像がありません" class="site-show-image rounded w-90">
    </div>
    <div class="col-md-8">
      <a href="<%= @site.url %>" target="_blank" rel="noopener noreferrer">
        <h5 class="card-title"><%= @site.title %></h5>
      </a>
      <p><%= @site.description%></p>
    </div>
  </div>

  <div class="row mt-2 mb-4">
    <div class="border rounded d-flex py-1 px-2 mb-2">
      <h5 class="mb-1 me-2">tags: </h5>
      <% if @site.tags.present? %>
        <% @site.tags.each do |tag| %>
        <div class="border border-secondary rounded px-2 me-2"><%= tag.tag_name %></div>
        <% end %>
      <% else %>
        <div class="border border-secondary rounded px-2 me-2">No Tags</div>
      <% end %>
    </div>
    <div class="note border rounded py-2">
      <div class="d-flex note-link pe-3">
        <p class="text-small fw-bold" style="font-family: sans-serif;">-Note-</p>
      </div>
      <% if @site.note.present? %>
        <%= markdown(@site.note) %>
      <% else %>
        <h3>No Contents</h3>
      <% end %>
    </div>
  </div>

  <div class="text-end">
    <%= link_to "編集", edit_site_path, "data-turbolinks": false, class: "btn btn-outline-info me-2" %>
    <%= link_to "削除", site_path(@site), method: :delete, class: "btn btn-outline-danger me-2", data: {confirm: "本当に削除しますか？"} %>
  </div>
</div>
